<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body bgcolor="white" text="black">
<form action="/calc">
    enter 1st num <input type="text" name="n1" id="num1"><br>
    enter 2nd num <input type="text" name="n2" id="num2"><br>
    <input type="submit" name="operation" value="add">
    <input type="submit" name="operation" value="sub">
    <input type="submit" name="operation" value="mul">
    <input type="submit" name="operation" value="div">

</form>
</body>
</html>
{{msg}}